:root {
  --main-background-white: #EEEEEE;
  --main-text-black: #444444;
  --main-text-grey: #999999;

  --main-button-grey: #777777;
  --main-button-green: #55BB55;
  --main-button-hover-green: #55EE55;
  --main-button-active-green: #559955;
}

html,
body {
  background: var(--main-background-white);
  height: 100%;
  overflow: hidden;
  width: 100%;
  -webkit-user-select: none;
}

.top-band {
  height: auto;
  overflow: hidden;
}

.menu-bar {
  height: 32px;
  -webkit-app-region: drag;
  border-bottom: #bbbbbb 1px solid;
  width: auto;
  overflow: hidden;
}

.close {
  background: #c84646;
  color: var(--main-background-white);
  cursor: pointer;
  float: right;
  height: 32px;
  width: 64px;
  font-size: 22px;
  text-align: center;
}

.close:hover {
  background: #e63131;
}

.close:active {
  background: #711021;
}

div.state {
  display: none;
}

div.breadcrumbs {
  margin-left: 20px;
  margin-right: : 20px;
}

#main {
    background: var(--main-background-white);
    height: 100%;
}

.new-item-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--main-text-black);
  background: var(--main-background-white);
  color: var(--main-text-black);
  outline: none;
}

.button {
  outline: none;
}

.new-item-button-disabled {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-grey);
  color: var(--main-background-white);
  cursor: default;
}

.new-item-button {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-green);
  color: var(--main-background-white);
}

.new-item-button:hover {
  background-color: var(--main-button-hover-green);
}

.new-item-button:active {
  background-color: var(--main-button-active-green);
  outline: none;
}

.list-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px var(--main-text-grey);
  margin-bottom: 3px;
  background: var(--main-background-white);
  color: var(--main-text-black);
  display: block;
  text-align: left;
  cursor: pointer;
}

.centre-instruction {
  text-align: center;
  font-size: 38px;
  color: var(--main-text-black);
}

div.team-list {
  height: 250px;
  width: 515px;
  margin: auto;
}

div.scrollable {
  overflow-y: scroll;
}
