:root {
  --window-min-width: 750px;

  --main-background-white: #EEEEEE;
  --main-text-black: #444444;
  --main-text-grey: #999999;

  --main-button-grey: #777777;
  --main-button-green: #55BB55;
  --main-button-hover-green: #55EE55;
  --main-button-active-green: #559955;

  --main-font-size-big: 28px;
  --main-font-size-small: 18px;

  --main-border-bottom-small: 1px;

  --top-band-height: 32px;
  --breadcrumb-height: 34px;
}

html,
body {
  background: var(--main-background-white);
  height: 100%;
  overflow: hidden;
  width: 100%;
  -webkit-user-select: none;
}

.top-band {
  height: var(--top-band-height);
  overflow: hidden;
}

.menu-bar {
  height: 32px;
  -webkit-app-region: drag;
  border-bottom: #bbbbbb 1px solid;
  width: auto;
  overflow: hidden;
}

.close {
  background: #c84646;
  color: var(--main-background-white);
  cursor: pointer;
  float: right;
  height: var(--top-band-height);
  width: 64px;
  font-size: 22px;
  text-align: center;
}

.close:hover {
  background: #e63131;
}

.close:active {
  background: #711021;
}

div.state {
  display: none;
  height: 100%;
}

div.scroll-wrap {
  position: relative;
  height: calc(100% - var(--breadcrumb-height));
}

div.scrollable-full {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  /*height: auto;*/
}

div.scrollable-fixed {
  overflow-y: scroll;
}

div.breadcrumbs {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  height: var(--breadcrumb-height);
}

div.team-list {
  height: 200px;
  width: 515px;
  margin: auto;
}

div.season-list {
  height: 200px;
  width: 515px;
  margin: auto;
}

div.player-list {
  height: 170px;
  width: 515px;
  margin: auto;
}

div.match-list {
  height: 190px;
  width: 625px;
  margin: auto;
  margin-bottom: 10px;
}

div.spaced-row {
  padding-top: 10px;
  padding-bottom: 15px;
}

div.link {
  cursor: pointer;
}

div.set-box {
  padding: 4px;
  border: solid var(--main-text-black) 2px;
  display: inline-table;
}

span.link {
  cursor: pointer;
}

#main {
    background: var(--main-background-white);
    height: calc(100% - var(--top-band-height));
}

.new-item-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--main-text-black);
  background: var(--main-background-white);
  color: var(--main-text-black);
  outline: none;
}

.new-item-input-small {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--main-text-black) var(--main-border-bottom-small);
  background: var(--main-background-white);
  color: var(--main-text-black);
  outline: none;
}

.match-lineup-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--main-text-black) var(--main-border-bottom-small);
  background: var(--main-background-white);
  color: var(--main-text-black);
  outline: none;
  width: 45px;
  text-align: center;
}

.button {
  outline: none;
}

.new-item-button-disabled {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-grey);
  color: var(--main-background-white);
  cursor: default;
}

.new-item-button {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-green);
  color: var(--main-background-white);
}

.new-item-button:hover {
  background-color: var(--main-button-hover-green);
}

.new-item-button:active {
  background-color: var(--main-button-active-green);
}

.radio-button-off {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-grey);
  color: var(--main-background-white);
}

.radio-button-off:hover {
  background-color: var(--main-button-hover-green);
}

.radio-button-off:active {
  background-color: var(--main-button-active-green);
}

.radio-button-on {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-green);
  color: var(--main-background-white);
  cursor: default;
}

.group-left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.group-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.done-button-disabled {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-grey);
  color: var(--main-background-white);
  cursor: default;
  margin: 5px;
  margin-left: 300px;
}

.done-button {
  border: none;
  border-radius: 7px;
  background-color: var(--main-button-green);
  color: var(--main-background-white);
  margin-top: 5px;
  margin-left: 300px;
}

.done-button:hover {
  background-color: var(--main-button-hover-green);
}

.done-button:active {
  background-color: var(--main-button-active-green);
  outline: none;
}

.list-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px var(--main-text-grey);
  margin-bottom: 3px;
  background: var(--main-background-white);
  color: var(--main-text-black);
  display: block;
  text-align: left;
  cursor: pointer;
}

.centre-instruction {
  text-align: center;
  font-size: var(--main-font-size-big);
  color: var(--main-text-black);
}

.small-text {
  font-size: var(--main-font-size-small);
}

.table-center {
  margin: auto;
}

table.set {
  table-layout: fixed;
  margin: auto;
  width: var(--window-min-width);
}

th {
  padding: 3px;
}

td {
  padding: 3px;
}

td.box {
  border: solid var(--main-text-black) 1px;
}
